In [269]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [334]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1156,tt0299930,54000000,7266209,Gigli,Ben Affleck|Jennifer Lopez|Justin Bartha|Laini...,Martin Brest,Life doesn't play by the rules.,Gigli is ordered to kidnap the psychologically...,121,Drama,City Light Films|Revolution Studios|Casey Silv...,8/1/2003,3.8,2003
835,tt1034389,25000000,27122040,The Eagle,Channing Tatum|Mark Strong|Jamie Bell|Donald S...,Kevin Macdonald,The destiny of a soldier. The honour of a slav...,"In 140 AD, twenty years after the unexplained ...",114,Adventure|Drama,Toledo Productions|Film4|Focus Features|Prime ...,2/8/2011,5.9,2011
598,tt0255819,16000000,29381649,Baby Boy,Tyrese Gibson|Taraji P. Henson|Omar Gooding|Vi...,John Singleton,Just a Baby Boy.,"The story of Jody, a misguided, 20-year-old Af...",130,Drama|Comedy|Crime,Columbia Pictures,6/27/2001,7.4,2001
1671,tt0382932,150000000,623722818,Ratatouille,Patton Oswalt|Ian Holm|Lou Romano|Brian Denneh...,Brad Bird|Jan Pinkava,He's dying to become a chef.,A rat named Remy dreams of becoming a great Fr...,111,Animation|Comedy|Family|Fantasy,Walt Disney Pictures|Pixar Animation Studios,6/22/2007,7.3,2007
1872,tt0134983,90000000,14828081,Supernova,James Spader|Angela Bassett|Robert Forster|Lou...,Walter Hill|Jack Sholder,"In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,1/14/2000,4.7,2000

In [271]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [323]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget'] # нахождение прибыли

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [273]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
#answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [274]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()].index
data.loc[answers['1']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 5 +

In [275]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [276]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
#answers['2'] = '...'

In [277]:
answers['2'] = data[data.runtime == data.runtime.max()].index
data.loc[answers['2']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

ВАРИАНТ 2 +

# 3. Какой из фильмов самый короткий (в минутах)?

In [278]:
answers['3'] = data[data.runtime == data.runtime.min()].index
data.loc[answers['3']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

ВАРИАНТ 3 +

# 4. Какова средняя длительность фильмов?

In [279]:
answers['4'] = round(data.runtime.mean())
print(answers['4'])

110

ВАРИАНТ 2 +

# 5. Каково медианное значение длительности фильмов?

In [280]:
answers['5'] = data.runtime.median(axis=0)
print(answers['5'])

107.0

ВАРИАНТ 1 +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [281]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data.profit == data.profit.max()].index
data.loc[answers['6']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

ВАРИАНТ 5 +

# 7. Какой фильм самый убыточный?

In [282]:
answers['7'] = data[data.profit == data.profit.min()].index
data.loc[answers['7']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

ВАРИАНТ 5 +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [283]:
answers['8'] = data[data.profit > 0].index
data.loc[answers['8']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

ВАРИАНТ 1 +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [284]:
answers['9'] = data[(data.release_year == 2008) & (data.profit.max())].index
data.loc[answers['9']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
600,tt0910970,180000000,521311860,WALLÂ·E,Ben Burtt|Elissa Knight|Jeff Garlin|Fred Willa...,Andrew Stanton,An adventure beyond the ordinar-E.,WALLÂ·E is the last robot left on an Earth tha...,98,Animation|Family,Walt Disney Pictures|Pixar Animation Studios,6/22/2008,7.6,2008,341311860
601,tt0371746,140000000,585174222,Iron Man,Robert Downey Jr.|Terrence Howard|Jeff Bridges...,Jon Favreau,Heroes aren't born. They're built.,"After being held captive in an Afghan cave, bi...",126,Action|Science Fiction|Adventure,Marvel Studios,4/30/2008,7.3,2008,445174222
602,tt0936501,25000000,226830568,Taken,Liam Neeson|Famke Janssen|Maggie Grace|Katie C...,Pierre Morel,They took his daughter. He'll take their lives.,"While vacationing with a friend in Paris, an A...",93,Action|Thriller|Crime,Twentieth Century Fox Film Corporation|M6 Film...,2/18/2008,7.2,2008,201830568
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,tt0858479,7000000,10569964,Smart People,Dennis Quaid|Sarah Jessica Parker|Ellen Page|T...,Noam Murro,Sometimes the smartest people have the most to...,Professor Lawrence Wetherhold (Dennis Quaid) m...,95,Comedy|Drama|Romance,Miramax Films|Sherazade Film Development|Groun...,4/11/2008,5.5,2008,3569964
716,tt0410377,37000000,100076342,Nim's Island,Abigail Breslin|Jodie Foster|Gerard Butler|Mic...,Jennifer Flackett|Mark Levin,Your adventure starts here.,A young girl inhabits an isolated island with ...,96,Adventure|Comedy|Family|Fantasy,Walden Media,4/3/2008,5.5,2008,63076342
717,tt0465502,25000000,30000000,Igor,John Cusack|Myleene Klass|Robin Walsh|Matt McK...,Anthony Leondis,All men aren't created Evil.,Animated fable about a clichÃ© hunchbacked evi...,87,Animation|Comedy|Family|Fantasy,Exodus Film Group|Exodus Productions,9/19/2008,5.4,2008,5000000
718,tt0455538,27000000,17286299,How to Lose Friends & Alienate People,Kelan Pannell|Janette Scott|Simon Pegg|Megan F...,Robert B. Weide,"He's across the pond, and out of his depth.",A British writer struggles to fit in at a high...,110,Comedy|Romance|Drama,UK Film Council|Intandem Films|Aramid Entertai...,10/2/2008,6.0,2008,-9713701
719,tt0494652,35000000,43650785,Welcome Home Roscoe Jenkins,Martin Lawrence|James Earl Jones|Margaret Aver...,Malcolm D. Lee,Roscoe Jenkins aims for the heartstrings and f...,"Martin Lawrence leads an all-star cast, includ...",114,Comedy|Drama,Universal Pictures|Spyglass Entertainment,2/8/2008,6.1,2008,8650785

ВАРИАНТ 4 +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [285]:
answers['10'] = data[(data.release_year >= 2012) & (data.release_year <= 2014) & (data.profit == data.profit.min())].index
data.loc[answers['10']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

ВАРИАНТ 5 +

# 11. Какого жанра фильмов больше всего?

In [340]:
data = pd.read_csv('movie_bd_v5.xls')
data['genres'] = data['genres'].apply(lambda x:x.split('|'))

import collections

c = collections.Counter()

for category in data['genres']:
    for genre in category:
        c[genre] += 1
        answers['11'] = c
print (answers['11'])

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

ВАРИАНТ 3

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [343]:
data = pd.read_csv('movie_bd_v5.xls')
data['profit'] = data['revenue'] - data['budget'] # нахождение прибыли
data_genres = data.copy()
data_genres = data_genres[data_genres.profit > 0]
answers['12'] = collections.Counter(data_genres.genres.str.cat(sep = '|').split('|')).most_common()
print(answers['12'])

[('Drama', 560), ('Comedy', 551), ('Thriller', 446), ('Action', 444), ('Adventure', 337), ('Romance', 242), ('Crime', 231), ('Family', 226), ('Science Fiction', 195), ('Fantasy', 188), ('Horror', 150), ('Animation', 120), ('Mystery', 119), ('Music', 47), ('History', 46), ('War', 41), ('Western', 12), ('Documentary', 7)]

ВАРИАНТ 1

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [344]:
data = pd.read_csv('movie_bd_v5.xls')
data_director = data[:]
data_director['genres'] = data['genres'].apply(lambda x:x.split('|'))
data_director['genres'] = data['director'].apply(lambda x:x.split('|'))
data_director = data_director.explode('genres')
data_director = data_director.explode('director')
answers['13'] = data_director.groupby('director')['revenue'].apply(sum).sort_values(ascending=False).keys()[0] 
print(answers['13'])

Peter Jackson

ВАРИАНТ 5

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [345]:
data = pd.read_csv('movie_bd_v5.xls')
answers['14'] = data[data.genres.str.contains('Action', na = False)]
collections.Counter(data2['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

In [ ]:
ВАРИАНТ 3

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:

-

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [400]:
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data_director=data.explode('cast')
answers['16'] = data_director.loc[data_director['budget'] > data_director['budget'].mean()]['cast'].value_counts(ascending=False)
print(answers['16'])

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Michael Stuhlbarg     1
Alison Brie           1
Matthew Macfadyen     1
Matt Stern            1
Jennifer Beals        1
Name: cast, Length: 1505, dtype: int64

ВАРИАНТ 3

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [347]:
data=pd.read_csv('movie_bd_v5.xls')
answers['17']=data[data.cast.str.contains('Nicolas Cage')]
Counter(answers['17'].genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

ВАРИАНТ 2

# 18. Самый убыточный фильм от Paramount Pictures

In [350]:
data = pd.read_csv('movie_bd_v5.xls')
data['profit']=data['revenue']-data['budget']
data_pp = data[data.production_companies.str.contains('Paramount Pictures')]
answers['18'] = data_pp.sort_values('profit', ascending=False)
answers['18'].tail()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,5.7,2004,-24805000
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004,-46604061
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

ВАРИАНТ 3

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [355]:
prof_year=pd.read_csv('movie_bd_v5.xls')
prof_year['release_date']=prof_year['release_date'].apply(lambda x: x.split('/'))
display(prof_year)
prof_year['month']=prof_year['release_date'].apply(lambda x: x[0])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,"[6, 9, 2015]",6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,"[5, 13, 2015]",7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,"[3, 18, 2015]",6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,"[12, 15, 2015]",7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,"[4, 1, 2015]",7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,"[7, 13, 2000]",6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,"[10, 27, 2000]",6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,"[6, 30, 2000]",4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,"[2, 16, 2000]",5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,"[7, 19, 2000]",5.2,2000

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?